@page "/"
@using Business.Business.AdminClientes
@using Business.Models
@using PruebaTecnicaJSC.ViewModels

<PageTitle>Incio</PageTitle>
@inject IAdminClientesBusiness adminCliente;


@if (listaClientes == null)
{
    <p><em>Cargando...</em></p>
}else{
        <table class="table">
        <thead>
            <tr>
                <th>#Id</th>
                <th>Tipo Identificación</th>
                <th>Identificacion</th>
                <th>Razon Social</th>
                <th>Departamento</th>
                <th>Municipio</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cliente in listaClientes)
            {
                <tr>
                    <td>@cliente.Id</td>
                    <td>@cliente.NombreTipoIdentificacion</td>
                    <td>@cliente.NumeroIdentificacion</td>
                    <td>@cliente.RazonSocial</td>
                    <td>@cliente.Departamento</td>
                    <td>@cliente.Municipio</td>
                    <td></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Cliente>? listaClientes;

    protected override async Task OnInitializedAsync()
    {
        var listaConsulta = await adminCliente.ConsultarClientes();
        listaClientes = listaConsulta.ToList();
    }
}

